<!DOCTYPE html>
<html ng-app="lynkslistApp">
<head>
  <title>LynksList</title>
  <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body ng-controller="ContentCtrl">
  <script>
    new Clipboard('.btn-clipboard');
  </script>
  <!-- Button to close the overlay navigation -->
  <div id="iframe-btn-container">
    <a href="javascript:void(0)" id="article-iframe-close-btn" class="closebtn" ng-click="closeNav()">&times;</a>
  </div>

  <!-- Article overlay view -->
  <div id="myNav" class="overlay">

    <!-- Overlay content -->
    <div class="overlay-content">
      <iframe id="article-iframe" src="about:blank">
        <p>Your browser does not support iframes.</p>
      </iframe>
      <div class="related_posts_container">
        
      </div>
    </div>

  </div>

  <div class="container-fluid">
    <div class="left_sidebar col-sm-2">
      <%= image_tag("lynkslist-typography.png", class: "logo-typography") %>
      </br>
      <button type="button" class="post-link-btn left-side-btn btn btn-primary btn-lg">
      	<span class="glyphicon glyphicon-link" aria-hidden="true" style="margin-right: 3px;"></span> Post a Link
      </button>
      <button type="button" class="left-side-btn btn btn-link btn-lg">My Feed</button>
      <button type="button" class="left-side-btn btn btn-link btn-lg" ng-click="showSavedPosts()">
      	<span class="glyphicon glyphicon-bookmark" aria-hidden="true" style="margin-right: 3px;"></span> Saved
      </button>
<!--       <button type="button" class="left-side-btn btn btn-link btn-lg">
      	<span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="margin-right: 3px;"></span> Shared with me
      </button> -->
      <button type="button" class="left-side-btn btn btn-link btn-lg">
      	<span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-right: 3px;"></span> Create a list
      </button>
    </div>
    <div class="toplinks_container col-sm-10">
        <div ng-include="'topbar/_topbar.html'"></div>
	</div>
	<div class="input-group input-group-lg search_bar col-sm-8">
		<input type="text" class="form-control" placeholder="Enter keywords, tags, users, lists...">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button">Search</button>
		</span>
	</div>
	<div id="route" data-model="<%= @params[:model] %>" data-name="<%= @params[:name] %>" data-id="<%= @params[:id] %>"></div>
		<div class="container-fluid">
		<div class="col-sm-10">
			<ui-view></ui-view>

			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
	</div>

  </div>

</body>
</html>
